.loginDiv {
    padding: 3em;
    border-radius: 2em;
    box-shadow: 0 .3em .7em black;
    background-color: var(--primary-red);
}

body {
    background-color: var(--primary-dark);
}

.loginBtn {
    background-color: var(--seconday-green);
    box-shadow: 0 .3em .5em black;
}