.loginDiv {
    padding: 3em;
    border-radius: 2em;
    box-shadow: 0 .3em .7em black;
    background-color: var(--primary-red);
    color: var(--light-grey);
}



.loginHeading {
    color: var(--light-grey);
    text-align: center;
}

.loginBtn, .loginInput {
    box-shadow: 0 .3em .7em black;
}